.event-page-title {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}
.event-main-box {
  display: flex;
  flex-direction: column;
}
.evt-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 30px;
  margin-bottom: 40px;
}

.event-all-list {
  display: flex;
  justify-content: center;
}

.event-all-list img {
  width: 380px;
  height: 300px;
  border-radius: 5px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.event-all-list img:hover {
  transform: scale(1.03);
  transition-duration: 0.55s;
  cursor: pointer;
  position: relative;
}
