.craft-edit {
  background-image: url('https://res.cloudinary.com/dumv00y9b/image/upload/v1636223933/edit2_dlmw0b-Square_dwvuox.jpg');
  background-size: 1200px 1350px;

  background-position: center;
  background-repeat: no-repeat;
  padding: 80px;
  height: 1100px;
}
.craft-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(56, 194, 236);
}
.craft-edit-form h1 {
  font-family: 'Irish Grover', cursive;
  margin-top: -20px;
  height: 120px;
}
.craft-edit-form input {
  width: 400px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 1px;
  float: right;
  font-size: medium;
  background-color: rgb(153, 230, 255);
}

.craft-edit-form input:focus,
textarea:focus {
  outline-color: rgb(56, 194, 236);
  border: none;
}
.craft-edit-form label {
  font-size: small;
}
.craft-edit-form textarea {
  height: 150px;
  width: 425px;
  border-radius: 20px;
  margin-top: 10px;
}
.craft-btn {
  width: 90px;
  padding: 10px;
  font-size: 14px;
  background-color: rgb(56, 194, 236);
  border-radius: 10px;
}
